section(class="single")
    h2 #{movie.data.movie.title}

section(class="single-info overlay_container")
    article(class="movie_info")
        article
            img(src=movie.data.movie.medium_cover_image, alt="Movie")
        article
            p Rating #{movie.data.movie.rating}
            p #{movie.data.movie.description_full}

section(class="single more")
    article
        button(type="button" id="playTrailer" class="playTrailer" data-toggle="modal" data-target="#trailerModal")
            i(class="fas fa-play")
            span Watch Trailer
        button(type="button" id="playMovie" class="playTrailer" data-toggle="modal" data-target="#movieModal" href="/movies/downloadMovie?id="+ movie.data.movie.id)
            i(class="fas fa-play")
            span Download

    div(class="modal fade" id="trailerModal" role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal") &times;
                div(class="modal-body")
                    iframe(src=trailer, class="trailer" frameborder="2" allowscriptaccess="always" width="500" height="300" allow="autoplay")

    div(class="modal fade" id="movieModal" role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal") &times;
                div(class="modal-body")
                    iframe(src=trailer, class="trailer" frameborder="2" allowscriptaccess="always" width="500" height="300" allow="autoplay")
                    
section(class="single more")
    h1 Similar Movies
    each movie, i in similarMovies
        a(class="blocks" href="/movies/display?id="+ movie.id)
            figure
                img(src=movie.medium_cover_image, alt="Movie")
                figcaption #{movie.title}